.escrow-display {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
}
.escrow-badge {
  color: #36004b !important;
  background: #9bad97 !important;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  z-index: 500;
}
.donation-popper {
  color: #0f0;
  font-family: 'Inter';
}
/*** SCREEN SIZES ***/
/* Mobile, portrait */
@media only screen and (max-width: 599px) and (orientation: portrait) {
  .escrow-badge {
    padding-right: 0.18rem;
    padding-left: 0.18rem;
    margin-right: 0.125rem;
    margin-left: 0.15rem;
    margin-bottom: -0.5rem !important;
    font-size: 1em;
  }
}
  
/* Tablet, landscape */
@media only screen and (min-width: 900px) and (orientation: landscape) {
  .escrow-badge {
    padding-right: 0.125rem;
    padding-left: 0.125rem;
    margin-right: 0.33rem;
    padding-top: 0.125em;
    margin-bottom: -0.37em !important;
    font-size: 1.25em;
  }
}
