#account-modal input.form-control,
#account-modal select.form-select {
  background-color: black;
  color: #0f0 !important;
  border: 1px solid #cf9 !important;
  font-family: 'Inconsolata';
}
#account-modal select.form-select:disabled {
  background-color: #ccc;
  color: #f0f !important;
  border: 1px solid #306;
  cursor: not-allowed;
}
.transition-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
}
.account-profile-spinner {
  color: #9cf;
}
div.profile-field {
  display: flex;
  flex-direction: column;
  margin-top: 0.25rem !important;
}
.profile-form div.invalid-feedback,
.profile-form small.form-text {
  color: #f9c;
  font-family: 'Oswald';
  text-align: left;
}
.profile-form small.form-text {
  line-height: 0.85rem;
}
.req-asterisk {
  color: #fc9;
  font-size: large;
}
label.btn.btn-primary {
  color: #1c1c1c !important;
  --bs-btn-bg: #a6a6a6 !important;
  --bs-btn-active-bg: #f9c;
  --bs-btn-border-color: #1f1f1f;
  --bs-btn-active-border-color: #1f1f1f;
  font-family: 'Inter' !important;
  font-weight: 600;
}
label.btn.btn-primary:hover {
  --bs-btn-bg: #ccc !important;
}
label.btn.btn-primary:active {
  --bs-btn-bg: #beafa0 !important;
  --bs-btn-border-color: #1f1f1f !important;
}
/*** SCREEN SIZES ***/
/* Mobile, portrait */
@media only screen and (max-width: 599px) and (orientation: portrait) {
  #account-modal .profile-form {
    min-height: 38.4vw;
  }
  #account-modal .btn-group {
    margin-bottom: 1vw;
  }
  #account-modal label.btn.btn-primary {
    font-size: calc(2vw + 1vh);
  }
  #account-modal div.profile-field {
    min-height: 18vw;
    height: 18vw;
    padding-bottom: calc(1vh - 1vw) !important;
    margin-bottom: calc(3vw - 1vh) !important;
    margin-top: 0.5rem !important;
  }
  form.profile-form {
    margin-left: -4px !important;
    margin-right: -4px !important;
  }
  /** getting rid of bulky green checkmarks for form validation **/
  .form-select.is-valid:not([multiple]):not([size]),
  .form-select.is-valid:not([multiple])[size='1'],
  .was-validated .form-select:valid:not([multiple]):not([size]),
  .was-validated .form-select:valid:not([multiple])[size='1'] {
    padding-right: 0% !important;
  }
  .account-profile-spinner {
    height: 20vw;
    width: 20vw;
  }
}
  
/* Tablet, landscape */
@media only screen and (min-width: 900px) and (orientation: landscape) {
  #account-modal .profile-form-ask {
    height: 5vh;
    line-height: 1.25rem;
  }
  form.profile-form {
    height: 25vh;
  }
  .profile-form div.invalid-feedback,
  .profile-form small.form-text {
    display: inherit !important;
    margin-top: -0.5rem;
    padding-left: 0.125em;
    font-size: 0.75rem;
    font-family: 'Inter';
  }
  .transition-spinner {
    height: 25vh;
  }
  .account-profile-spinner {
    height: 5rem;
    width: 5rem;
  }
}
