.input-icon.nub {
  border-top-right-radius: 0.375rem !important;
  border-bottom-right-radius: 0.375rem !important;
}
/* Big Screen */
@media only screen and (min-width: 2000px) {
  label.form.label {
    font-size: 10em !important;
  }
}
