.donation-prompt {
  color: #fc9;
}
/*** SCREEN SIZES ***/
/* Mobile, portrait */
@media only screen and (max-width: 599px) and (orientation: portrait) {
  .donation-prompt {
    font-size: 1em;
    display: inline-flex;
  }
}
  
/* Tablet, landscape */
@media only screen and (min-width: 900px) and (orientation: landscape) {
  .donation-prompt {
    font-size: 1.5em;
    /* margin-bottom: 4px !important; */
    display: inline-flex;
  }
}
