.offcanvas {
  background-color: #1c1c1c;
}
.offcanvas-body {
  overflow-y: clip !important;
}
.offcanvas a {
  color: #6da7f9;
}
.offcanvas a:focus {
  color: #9bad97;
}
.offcanvas a:focus:hover {
  color: #9bad97;
}
.offcanvas a:hover {
  color: #c9f;
}
.offcanvas p {
  color: #ccc !important;
}
.profile-contact.nav-tabs.nav-link.active {
  background-color: #ffffdbb3;
}
.sidebar-hline {
  color: #9bad97;
}
/*** SCREEN SIZES ***/
/* Mobile, portrait */
@media only screen and (max-width: 599px) and (orientation: portrait) {
  .offcanvas {
    min-width: 52.8vw;
    max-width: 52.8vw;
  }
  .offcanvas a {
    font-size: calc(3vw + 1vh);
    padding-bottom: calc(1vw + 1vh);
  }
  .offcanvas a > i {
    font-size: calc(2vw + 1vh);
  }
  .offcanvas-body {
    overflow-y: clip !important;
  }
  .side-menu-tab-pane {
    height: 44vh;
  }
  .side-menu-profile-content {
    height: 40vh;
    max-height: 40vh;
  }
  .profile-tab-nav {
    justify-content: center;
  }
}
  
/* Tablet, landscape */
@media only screen and (min-width: 900px) and (orientation: landscape) {
  .offcanvas {
    width: 21vw; /* */
    border-right: 1px solid #9bad97;
  }
  .offcanvas-body a.nav-link {
    padding-top: 0.75rem;
    padding-bottom: 1rem;
  }
  .offcanvas a {
    font-size: 1.5rem;
  }
  .offcanvas p {
    margin-top: 0.25rem;
    margin-bottom: 0 !important;
    font-size: 1.25rem;
  }
  .side-menu-profile-row h5.pb-2 {
    font-size: 1.5rem;
  }
}
