.button--continue {
  width: 60%;
  color: #c9f !important;
  border-color: #c9f !important;
  cursor: pointer !important;
}
/* Desktop */
@media only screen and (min-width: 1200px) {
  .button--continue:hover {
    color: #a9c9a2 !important;
    background-color: #181f23;
    border-color: #c9f !important;
  }
  .button--continue:active {
    color: #a9c9a2 !important;
    border-top: 2px inset #73578f80 !important;
    /* border-top: 2px inset #42545780 !important; */
    border-right: 2px inset #73578f80 !important;
    border-bottom: 1px inset #73578f80 !important;
    border-left: 1px inset #73578f80 !important;
  }
}
